# ======================
# Virtual Environments
# ======================
house_price_env
.notes_env
notes_env/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ======================
# Python cache / build
# ======================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ======================
# PyInstaller
# ======================
*.manifest
*.spec

# ======================
# Logs & coverage
# ======================
*.log
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# ======================
# SQLite databases
# ======================
notes.db
*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-journal

# ======================
# Flask
# ======================
instance/
.webassets-cache

# ======================
# Jupyter / IPython
# ======================
.ipynb_checkpoints
profile_default/
ipython_config.py

# ======================
# Tools & IDEs
# ======================
.spyderproject
.spyproject
.ropeproject
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# PyCharm / JetBrains
#.idea/

# ======================
# Documentation
# ======================
docs/_build/
site/
